/*Global styles*/

:root {
  --width: 138px;
  --xoffset: 0px;
  --rawwidth: 100vw;
  --totwidth: min(var(--rawwidth), calc(100vw - 600px - var(--xoffset)));
  /* --totwidth: calc( 100vw - 600px - var(--xoffset) ); */
}

/* TO DO: figure out why so wide, even after hiding cards */
#card-hotbar {
  z-index: 69;
  position: fixed;
  bottom: 63px;
  left: 220px;
  height: 200px;
  box-sizing: border-box;
}

#card-hotbar.collapsed {
  height: 50px;
  width: var(--totwidth);
}

#card-hotbar #card-hotbar-directory-controls {
  border: 1px #000000ff;
  pointer-events: all;
}

#card-hotbar #card-hotbar-directory-controls.collapsed i.fas.fa-times {
  display: none;
}

#card-hotbar #card-hotbar-directory-controls img.collapsed {
  display: none;
}

#card-hotbar #card-hotbar-directory-controls.collapsed img.collapsed {
  border: none;
  display: block;
}

#card-hotbar #card-hotbar-directory-controls.collapsed div.expanded {
  display: none;
}

#card-hotbar #card-hotbar-directory-controls a#card-bar-toggle {
  flex: 0;
}

#card-hotbar #card-hotbar-directory-controls div.expanded {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-hotbar #card-hotbar-directory-controls div.vertbar.expanded a {
  flex: 0;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

#card-hotbar #card-hotbar-directory-controls div.vertbar a img {
  border: none;
}

#card-hotbar #card-hotbar-directory-controls div.expanded a {
  margin-top: auto;
  margin-bottom: auto;
}

#card-hotbar #card-hotbar-directory-controls div.expanded a {
  margin-top: auto;
  margin-bottom: auto;
}

#card-hotbar #card-action-bar {
  pointer-events: all;
  height: 100%;
  width: var(--totwidth);
}

#card-hotbar .bar-controls {
  flex: 0 0 32px;
  height: 100%;
  margin: 0 2px;
  text-align: center;
  color: #c9c7b8;
  background: rgba(0, 0, 200, 0.6);
  border: 1px solid #0000ff;
  box-shadow: 0 0 3px #444 inset;
  border-radius: 3px;
}

#card-hotbar .bar-controls a {
  display: block;
}

#card-hotbar #card-macro-list {
  flex-wrap: nowrap;
  flex: 0 0 100%;
  height: 100%;
  list-style: none;
  margin: 2px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  border: 0px;
  border-radius: 10px;
  justify-content: left;
}

#card-hotbar li.macro {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background: #99999980;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  top: 0px;
  box-shadow: 0px 0 4px black;
  transition: box-shadow 0.2s 0.1s, flex 0.2s, top 0.2s 0.1s;
  flex: 0 1 auto;
}

#card-hotbar li.macro:hover {
  top: -10px;
  flex: 0 0 var(--width);
  box-shadow: 0px 5px 10px 2px #000000;
  z-index: 1;
}
#card-macro-list li.last {
  flex: 0 0 var(--width);
}

/* Next functionality disabled
#card-hotbar .macro.next {
    border: 6px dashed #777777bb;
    box-shadow: none;
}
*/

#card-macro-list li.macro img {
  box-sizing: border-box;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: left;
}

#card-hotbar li.macro.inactive {
  display: none;
}

/*#card-hotbar .macro.active:hover {
    
}*/

#card-hotbar .macro.inactive:hover {
  border: 1px solid gray;
}

#card-hotbar .macro .tooltip {
  display: block;
  min-width: 148px;
  height: 26px;
  padding: 2px 4px;
  position: absolute;
  top: -32px;
  left: -50px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #191813;
  border-radius: 3px;
  color: #f0f0e0;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  word-break: break-all;
}

#card-hotbar .macro .tooltip {
  display: block;
  min-width: 100%;
  height: 26px;
  padding: 2px 4px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #191813;
  border-radius: 3px;
  color: #f0f0e0;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  word-break: break-all;
}

#card-hotbar .macro .tooltip:hover {
  display: none;
}

#card-hotbar #card-hotbar-directory-controls {
  pointer-events: all;
}

#card-hotbar-directory-controls a#card-macro-directory {
  display: none;
}

#card-hotbar-directory-controls {
  max-height: 100%;
}

/* disable page controls for now */
#card-hotbar-page-controls {
  display: none;
}

/*
#card-hotbar .bar-controls a.page-control {
    font-size: 1.5em;
    line-height: 12px;
}

#card-hotbar .bar-controls span.page-number {
    display: block;
    font-size: 20px;
    line-height: 8px;
}
*/

/* Settings CSS */

/* TO DO: REPLACE chbSettings with cardSettings!!! */
div.chbSettings div.formgroup {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

div.chbSettings input {
  background-color: unset;
  max-width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  border: black 1px;
}
div.chbSettings input[type="Number"] {
  background-color: white;
  max-width: 10%;
  text-align: center;
  border: black 1px;
  float: left;
  margin-right: 0.75em;
}

div.chbSettings div.colorsplash {
  display: grid;
  place-items: center;
  background-color: blue;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: black 1px;
  border-radius: 0.5em;
}

span.card-macro-key {
  z-index: 2;
}

/* Border around Global Settings */
div#client-settings div.chb-global {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: #d3d3d380;
  padding: 4px;
}

/* Match box styling for User Settings */
div#client-settings div.chb-user {
  padding: 5px;
  padding-left: 6px;
}

/* fix boundary between two stylized settings divs */
/* Extra specficity for first box to work properly with Tidy UI styles */
div#client-settings div#chbSetDiv {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: #d3d3d380;
  padding: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* with apologies to sdenec, lifted from Tidy UI Settings module, which you should install... */
#client-settings .chb-setting label,
#client-settings .chb-setting > label {
  flex-grow: unset;
  flex-basis: unset;
  flex: 1 1 100%;
  line-height: 1.2;
  margin: 0 0 0.25rem calc(13px + 1rem);
  order: -1;
}

#client-settings form .form-group.submenu.chb-setting button label {
  display: inline-block;
  padding-top: 0px;
  margin-top: -8px;
  margin-left: 5px;
  line-height: 22px;
  vertical-align: middle;
}

.macro .tooltip span {
  z-index: 4;
}

div.chbSettings div.colorsplash .layout_default.picker_wrapper {
  margin-bottom: 26px;
}

div#client-settings .chb-setting label {
  padding-top: 8px;
}

/* hide extra button on color picker selection */

/* In Settings Menu, Make H1 and H2 less ridonkulous */
div#card-hotbar-settings-form h1 {
  font-size: x-large;
}

div#card-hotbar-settings-form h2 {
  font-size: large;
}
